* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffdfd;
}

/*Header*/

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.sectionHeader .español {
  display: flex;
  text-decoration: none;
  color: #333;
  padding-bottom: 100px;
}

.headerLogo{
display: flex;
justify-content: center;
padding-left: 170px;
} 

.phoneLogo{
  display: flex;
  align-items: center;
  margin-left: 30px;
  width: 60%;
}

.button1 {
  align-items: center;
  text-align: center;
  background-color: #00a5ff;
  border: #00a5ff;
  color: #f7feff;
  border-radius: 7px;
  font-size: small;
  padding: 7px;
  margin-left: 10px;
}

.button2 {
  align-items:center;
  text-align: center;
  background-color: #113476;
  border: #113476;
  color: #f7feff;
  border-radius: 7px;
  font-size: small;
  padding: 7px;
  margin-right: 10px;
}

/*Navbar*/

.navbar {
  display: flex;
  flex-direction: row;
  padding: 1px;
  width: 100%;
  background-color: #113476;
}

.navbar div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar div a {
  color: #e9eff6;
}

.navbar div a:hover {
  color: #fffffa;
  background-color: rgb(161, 165, 167);
  border-radius: 7px;
  padding: 1px;
}

/*Carousel*/

.carousel-inner img {
  width: 100%;
  padding: 1px;
}



/*Section 1*/
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

.section-1 h6{
  color: #0a589b
}

.section-1 .texto{
  margin: 10px;
  margin-right: 150px;
  font-size: small;
  color: #626262
}

.section-1 button {
  background-color:#04a3fe;
  color: white;
  font-size:smaller;
  border: #04a3fe;
  border-radius: 5px;
  padding: 3px 7px;
}

.imgInstitute {
  padding: 20px;
  width: 40%;
}

/*Section-2*/
.section-2{
  background-color: #fffffa;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.section-2 div img{
  display: flex;
  width: 80%;
  margin-left: 90px;
  
}
.section3Video {
  display: flex;
  background-color:#f4f4f4;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px;
}

.section3Video h3 {
  color: #02529f;
}

.video {
  border: 10px solid #01a5fe;
  border-radius: 7px;
}

/*Header Form*/
.headerForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align:justify;
  padding: 20px;
}

.headerForm h3 {
  display: flex;
  justify-content: center;
  color: #02529f;
}

.headerForm h6 {
  display: flex;
  justify-content: center;
  color: #333;
  font-size: small;
  text-align: center; 
}
/*Form*/

.input{
  display: flex;
  text-align: start;
  color: rgba(3, 11, 21, 0.827);
  border:0;
  border-bottom: 1px solid;
  margin: 20px;
}

.form{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
}



.submitButton{
  background-color:#04a3fe;
  color: white;
  font-size:smaller;
  border: #04a3fe;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 120px;
}
/*Section-3*/

.lciHighlightsSection{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size:medium;
  align-items: center;
  background-color:#00a5ff;
  color: aliceblue;
}

.headerLci{
  display: flex;
  justify-content: center ;
}

.lci{ 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
}

.lci ul li{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  padding: 5px;
  padding-right: 80px;
}

.titleLci{
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f4f4f4;
  background-color: #00a5ff;
  padding: 5px;
  padding-top: 20px;
}

/*Logo-2*/

.logo2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logo2 div img {
  width: 45%;
}

/*Footer*/

.icono{
  background-color: white;
}

.footerSection{
  display: flex;
  justify-content: space-evenly;
  background-color: #113476;
  color: #e9eff6;
  padding: 40px;
}

.aboutUs{
  display: flex;
  flex-direction: column; 
}

.aboutUs a{
  color:#f4f4f4;
  text-decoration: none;
  align-items: center;
}

span{
  font-size: 30px;
}

.icono{
background-color: #113476;
}

@media (max-width: 500px) {

body{background-color: #113476;}

.sectionHeader .español {
display: none;
}
.carousel-inner img {
  width: 100%;
  padding: 1px;
  margin: auto;
}

.phoneLogo{
display: flex;
padding: 2px;
}

.headerLogo{
display: inline-block;
padding-left: 1px;
}

.button1 {
display: flex;
font-size: smaller;
padding: 2px;
margin-left: 12px;
}

.button2 {
font-size: smaller;
padding: 2px;
margin-left: 12px;
}


  /*Nav*/
  
  .navbar .navbar-toggler{
    display: flex;
    color: #010811;
    padding: 10px;
    margin: 10px;
  }
  
  .section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .texto{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 15px;
    
    
  }
  
  .imgInstitute {
      width: 100%; 
      margin: auto;
      justify-content: center;
  }
  
    .submitButton {
      margin-left: 10px; /* Adjust as needed for small screens */
    }
    .logo2 img{
      display: flex;
      justify-content: center;
      }
    .logo2 div img {
      width: 50px;
    }
  
    .video{
      width: 100%;
      height: 50%;
    }
  }
  
