body {
    background-color: rgb(251, 251, 251);
    font-family: "Mingzat", sans-serif;
    overflow-x: hidden;
  }


.header {
  display:flex;
  justify-content:space-between;
  margin: 1px;
  
}
.container-fluid  {
  background-color: rgb(36, 36, 132);
  padding: 15px;
  margin: auto;
}

.button {
  align-items: center;
  text-align: center;
  background-color: rgb(64, 81, 242);
  color: rgb(249, 249, 249);
  border-radius: 7px;
  font-size: small;
  margin: 30px;
  padding: 10px;
}

.navbar-nav a {
  color: rgb(255, 255, 255);
}

ul li a:hover {
  background-color: rgb(126, 124, 122);
  color: rgb(238, 241, 245);
  border-radius: 7px;
}

.carousel-inner img {
  width: 95%;
  padding: 1px;
  margin: auto;
}

.carousel-inner img .carousel-inner {
  height: 500px;
}

.section-1 article{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

.section-1 button{
  background-color:  rgb(19, 210, 248);
  color: white;
  border: rgb(19, 210, 248);
  padding: 5px;
}

.article3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(19, 210, 248);
  color: aliceblue;
}

.articleVideo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imgInstitute{
  padding: 10px;
  width: 100%;
}

.logo2{
  display: flex;
  justify-content: center;
}


.colorFooter{
  background-color: blue;
}


.footer div ul li a{
  display: flex;
  justify-content: space-between;  
  flex-direction: column;
  text-decoration: none;
  color: rgb(178, 93, 93);
  background-color: rgb(30, 255, 0);

}